@import "syntax-variables";

.bracket-matcher .region {
  border: 1px solid red;
  margin: 0 0 0 -2px;
  background-color: rgba(0, 255, 0, 0.4);
  z-index:100;
}

.line-number.bracket-matcher.bracket-matcher {
  color: @syntax-gutter-text-color-selected;
  background-color: @syntax-gutter-background-color-selected;
}
